<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="domain/layout"
	layout:decorator="LayoutDefault">

<div class="container" layout:fragment="contenu"
	style="padding-top: 0px;">
	<div class="row col-sm-12">
		<table class="table table-responsive">
			<thead class="thead-default">
				<tr>
					<th>Application</th>
					<span th:each="evol : ${evols}" th:remove="tag">
						<th scope="row" th:text="${evol}">Evol1</th>
					</span>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ligneComposant : ${lignesComposant}">
					<th th:text="${ligneComposant.appli.name}"></th>
					<span th:each="colonneBranche : ${ligneComposant.branche}"
						th:remove="tag">
						<td scope="row"><span class="list-group-item col-sm-12 drag"
							draggable="true" th:text="${colonneBranche.version}">Aucune
								Version</span></td>
					</span>
				</tr>

			</tbody>
		</table>

	</div>
	<div class="row">

		<table class="tableMerge table">
			<thead>
				<tr class="active">
					<th>Version 1</th>
					<th>Version 2</th>
					<th width="250px">Date</th>
					<th width="250px">Personne en charge</th>
					<th width="180px">Outils</th>
				</tr>
				<tr class="active">
					<td id="v1"><li class="list-group-item drop">Vide</li></td>
					<td id="v2"><li class="list-group-item drop">Vide</li></td>
					<td>
						<div class="input-group date form_date col-md-10"
							data-date="04/07/2017" data-date-format="dd/mm/yyyy"
							data-link-field="dtp_input1">
							<input class="form-control" size="16" type="text" value=""
								readonly="true"></input> <span class="input-group-addon"><span
								class="glyphicon glyphicon-th"></span></span>
						</div> <input type="hidden" id="dtp_input1" value="" /><br />
					</td>
					<td><input type="text" class="form-control" id="personne"
						placeholder="Nom" aria-describedby="basic-addon1" /></td>
					<td>
						<button type="button" class="btn btn-primary addInfoLineMerge">
							<span class="glyphicon glyphicon-plus"></span>
							<span class="glyphicon glyphicon-info-sign"></span>
						</button>
						<button type="button" class="btn btn-success addLineMerge">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
						<button type="button" class="btn btn-danger clearLineMerge">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</td>
				</tr>
			</thead>
			<tbody id="bodyMerge">
			</tbody>
		</table>
	</div>



	<link rel="stylesheet"
		href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
	<script
		src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="js/DragAndDropMerge.js"></script>

</div>
<!-- /.container -->
</html>