<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="domain/layout">
		<head>
		    <meta charset="utf-8" />
		    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		    <meta name="viewport" content="width=device-width, initial-scale=1" />
		    <meta name="description" content="" />
		    <meta name="author" content="" />
		    <link rel="icon" href="bootstrap/favicon.ico"></link>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		
		    <title>Starter Template for Bootstrap</title>
		
		    <!-- Bootstrap core CSS -->
		   	<link href="css/main.css" rel="stylesheet"></link>
		    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></link>
			<link href="bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen"></link>
		
		    <!-- Custom styles for this template -->
		    <link href="css/starter-template.css" rel="stylesheet"></link>
				
		    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		    <!--[if lt IE 9]>
		      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		    <![endif]-->
		</head>
		
		<body>
	
		     <nav class="navbar navbar-inverse navbar-fixed-top">
		        <div class="container-fluid">
					<a class="navbar-brand" href="/">Repository SVN : </a>
						<form class="navbar-form navbar-left inline-form">
							<div class="icon-addon addon-sm">
								<select class="form-control input-sm">
									<option>Osiris_Wrk</option>
									<option>IODA_Wrk</option>
									<option>...</option>
								</select>
								<i class="icon icon-search"></i>
							</div>
						</form>
						<form class="navbar-form navbar-right inline-form" action="/SearchApplication" method="POST">
							<div class="form-group">
							<input name="param" type="search" class="input-sm form-control" placeholder="Recherche" />
							<select name="fonction" class="form-control input-sm">
								<option>Evolution</option>
								<option>Application</option>
								<option>Branche</option>
							</select>
							<button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open" /> Chercher</button>
							</div>
						</form>
				</div>
			</nav>			
			
			<div class="row">
			  <div class="col-sm-2 menu">
			    <div class="sidebar-nav">
			      <div class="navbar navbar-default" role="navigation">
			        <div class="navbar-collapse collapse sidebar-navbar-collapse">
			          <ul class="nav navbar-nav">
			          	<li class="active"><a href="/Merge">TODO Merge</a></li>
			      		<li><a href="/Historique">Historique</a></li>
			          	<li><a href="/">Ligne d'évolution</a></li>
			            <li><a href="/SVN">Affichage classique</a></li>
			            <li><a href="/Error">Erreur</a></li>
			            <li><a href="/Administration">Administration</a></li>
			            <!--  
			            <li class="dropdown">
			              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
			              <ul class="dropdown-menu">
			                <li><a href="#">Action</a></li>
			                <li><a href="#">Another action</a></li>
			                <li><a href="#">Something else here</a></li>
			                <li class="divider"></li>
			                <li class="dropdown-header">Nav header</li>
			                <li><a href="#">Separated link</a></li>
			                <li><a href="#">One more separated link</a></li>
			              </ul>
			            </li>
			            <li><a href="#">Menu Item 4</a></li>
			            <li><a href="#">Reviews <span class="badge">1,118</span></a></li>-->
			          </ul>
			        </div><!--/.nav-collapse -->
			      </div>
			    </div>
			  </div>
				<div class="container col-sm-9" layout:fragment="contenu">
					<h2>Contenu</h2>
				</div>
			</div>
			
		    <!-- Bootstrap core JavaScript
		    ================================================== -->
		    <!-- Placed at the end of the document so the pages load faster -->
		    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
			<script type="text/javascript" src="bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
		    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		    <script src="bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
			
			<script type="text/javascript">
		    $('.form_date').datetimepicker({
		        //language:  'fr',
		        weekStart: 1,
		        todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				minView:2,
				forceParse: 0,
		        showMeridian: 0
		    });
		</script>
		
		</body>
	</html>
