<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="domain/layout" layout:decorator="LayoutDefault">
		
		<div class="container col-sm-10" layout:fragment="contenu" >
		
				<div class="col-sm-6">
				<a href="/InverseTri"> Cacher les Evolutions non paramétrer</a>
				<form action="/CompareEvol" method="POST">
					<table class="table table-responsive">
					  <thead class="thead-default">
						<tr>
						  <th class="col-sm-10">Ligne d'evolutions</th>
						  <th class="col-sm-1"></th>
						  <th class="col-sm-1"></th>
						</tr>
					  </thead>
					  <tbody>
						<tr th:each="evol : ${evols}">
							<th scope="row" th:text="${evol}">Evol1</th>
							<td><button type="button" class="btn btn-primary test" th:id="${evol}"><span class="glyphicon glyphicon-search"></span></button></td>
							
							<td>
								<input type="checkbox" th:name="${evol}" />
							</td>
						</tr>
					  </tbody>
					</table>
					<button type="submit" class="btn btn-primary btn-lg btn-block">Generate Compare</button>
				</form>
			</div>
	
			
			<div class="col-sm-6">
				<div class="col-sm-12">
					<h3 id="titlebranche"></h3>
					<ul id="infoevol">
					</ul>
				</div>
			</div>
			
			<!-- Modal -->
			  <div class="modal fade" id="popupaddrenomme" role="dialog">
			    <div class="modal-dialog modal-lg">
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Ajouter une action de renommage : </h4>
			        </div>
			        <div class="modal-body">
			         	<input type="text" class="form-control" id="src" placeholder="Branche source" /> <br/>
			         	<input type="text" class="form-control" id="dest" placeholder="Branche destination" /> <br/>
						<input type="date" class="form-control" id="date" placeholder="Entrer date de réalisation" /> <br/>
						<input type="text" class="form-control" id="personne" placeholder="Entrer la personne en charge" /> <br/>
			        </div>
			        <div class="modal-footer">
			          	<button type="button" class="btn btn-success" id="saveRenomme" data-dismiss="modal">Enregistrer</button>
			         	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
			        </div>
			      </div>
			    </div>
			  </div>		
			  <!-- Modal -->
			  <div class="modal fade" id="popupaddsupprime" role="dialog">
			    <div class="modal-dialog modal-lg">
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Ajouter une action de suppression : </h4>
			        </div>
			        <div class="modal-body">
			         	<input type="text" class="form-control" id="src" placeholder="Branche à supprimer" /> <br/>
						<input type="date" class="form-control" id="date" placeholder="Entrer date de réalisation" /> <br/>
						<input type="text" class="form-control" id="personne" placeholder="Entrer la personne en charge" /> <br/>
			        </div>
			        <div class="modal-footer">
			          	<button type="button" class="btn btn-success" id="saveSupprime" data-dismiss="modal">Enregistrer</button>
			         	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
			        </div>
			      </div>
			    </div>
			  </div>		
			<script src="js/ajax.js"></script>
			
	</div><!-- /.container -->
</html>