<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="domain/layout"
	layout:decorator="LayoutDefault">

<div class="container" layout:fragment="contenu"
	style="padding-top: 0px;">
	
	<div class="row col-sm-12">		
			<table class="tableData table">
				<thead>
					<tr class="active">
						<th>Application</th>
						<th>Nom Patch</th>
						<th width="170px">Date</th>
						<th width="250px">Auteur</th>
					</tr>
				</thead>
				<tbody id="bodyTable">
				</tbody>
			</table>
	</div>



	<script src="js/PatchBDD.js"></script>

</div>
<!-- /.container -->
</html>