<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="domain/layout"
	layout:decorator="LayoutDefault">

<div class="container" layout:fragment="contenu"
	style="padding-top: 0px;">
	<div class="row col-sm-12">
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/Merge">Merge</a></li>
						<li><a href="/Renommer">Renommage</a></li>
						<li><a href="/Supprimer">Suppression</a></li>
					</ul>
			</div>
		</nav>
		<button type="button" class="btn btn-primary" id="allButton" > Non Fait </button>
				<br />
		
			<table class="tableMerge table" data-mode="">
				<thead>
					<tr class="active">
						<th>Version 1</th>
						<th>Version 2</th>
						<th width="250px">Date</th>
						<th width="250px">Personne en charge</th>
						<th width="80px">Fait</th>
						<th width="180px">Outils</th>
					</tr>
				</thead>
				<tbody id="bodyMerge">
				</tbody>
			</table>
	</div>


	<script src="js/mergeFunction.js"></script>
	<script src="js/merge.js"></script>

</div>
<!-- /.container -->
</html>