<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="domain/layout"
	layout:decorator="LayoutDefault">

<div class="container" layout:fragment="contenu"
	style="padding-top: 0px;">
	
	<div class="row col-sm-12">
		<button type="button" class="btn" id="reloadButton" > RELOAD </button>
		<br />
				<br />
		
			<table class="tableHistorique table">
				<thead>
					<tr class="active">
						<th>N° Historique</th>
						<th>Type de changement</th>
						<th>N° Merge</th>
						<th width="250px">Personne</th>
						<th width="250px">Date</th>
					</tr>
				</thead>
				<tbody id="bodyHistorique">
				</tbody>
			</table>
	</div>



	<script src="js/historique.js"></script>

</div>
<!-- /.container -->
</html>