<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="domain/layout" layout:decorator="LayoutDefault">

		<div class="container" layout:fragment="contenu" style="padding-top: 70px;">
				<div class="starter-template col-sm-12">
				<table class="table table-responsive">
				  <thead class="thead-default">
					<tr>
						<span th:each="evol : ${evols}" th:remove="tag">
							<th scope="row" th:text="${evol}">Evol1</th>
						</span>
					</tr>
					<tr th:each="ligneComposant : ${lignesComposant}">
						<span th:each="colonneBranche : ${ligneComposant.branche}" th:remove="tag">
							<td scope="row" th:text="${colonneBranche.version}">Aucune version</td>
						</span>
						<td>
						 <form action="" class="form-horizontal"  role="form">
							<div class="form-group">
								<div class="input-group date form_date col-md-4" data-date="1979/09/1" data-date-format="dd/mm/yyyy" data-link-field="dtp_input1">
									<input class="form-control" size="16" type="text" value="" readonly="true"></input>
									<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
								</div>
								<input type="hidden" id="dtp_input1" value="" /><br/>
							</div>
						</form>
					  </td>
					</tr>
				  </thead>
				  <tbody>
				  </tbody>
				</table>
				</div>
	
			
	</div><!-- /.container -->
</html>